<h1>Welcome to CSE Motors!</h1>

<div class="image-container">
    <picture>
        <source srcset="images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
        <source srcset="images/vehicles/delorean.jpg" media="(min-width: 960px)">
        <img src="images/vehicles/delorean.jpg" alt="delorean">
    </picture>

    <div class="image-overlay">
        <h3 class="overlay-title">DMC Delorean</h3>
        <ul class="overlay-features">
            <li>3 cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="overlay-button">Own Today</button>
    </div>
</div>

<div class="content-layout">
    <div class="upgrades-section">
        <h1>Delorean Upgrades</h1>
        <div class="grid-container">
            <div class="grid-item">
                <div class="image-box">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <h3>Flux Capacitor</h3>
            </div>
            <div class="grid-item">
                <div class="image-box">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <h3>Flame Decals</h3>
            </div>
            <div class="grid-item">
                <div class="image-box">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <h3>Bumper Stickers</h3>
            </div>
            <div class="grid-item">
                <div class="image-box">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <h3>Hub Caps</h3>
            </div>
        </div>
    </div>

    <div class="reviews-section">
        <h1>DMC Delorean Reviews</h1>
        <ul class="reviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>